<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="Browser" value ="Firefox"/>
	<parameter name="URL" value ="http://49.249.28.218:8091"/>
	<parameter name="UserName" value ="rmgyantra"/>
	<parameter name="Password" value ="rmgy@9999"/>
	<parameter name="Project" value ="Suvam"/>
  <test thread-count="5" name="Test">
    <classes>
      <class name="practice.datadriventesting.VerificationFromHRMDB"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
